<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="#" th:action="@{today/addtask}" th:object="${task}" method="post">

    <label for="starttime">Start time</label>
    <input id="starttime" type="datetime-local" th:field="*{startTime}"  placeholder="Start time" >
    <!--    <span th:if="${#fields.hasErrors('startime')}" th:errors="*{startTime}"></span>-->

    <label for="endtime">End Time</label>
    <input type="datetime-local" th:field="*{endTime}" id="endtime" placeholder="End Time"  >
    <!--    <span th:if="${#fields.hasErrors('endtime')}" th:errors="*{endTime}"></span>-->

    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Name">
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>

    <label for="content">Content</label>
    <input type="text" th:field="*{content}" id="content" placeholder="Content">
    <span th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></span>

    <select name="priority">
        <option id="priority" th:each="prOpt : ${T(net.usermd.mgrabiec.jee.calendar.model.Priority).values()}"
                th:field="*{priority}" th:value="${prOpt}" th:text="${prOpt.displayValue}"></option>
    </select>

    <select name="status">
        <option id="status" th:each="stOpt : ${T(net.usermd.mgrabiec.jee.calendar.model.Status).values()}"
                th:field="*{status}" th:value="${stOpt}" th:text="${stOpt.displayValue}"></option>
    </select>

    <label name="day" style="display: none;">
        <input id="day" type="datetime-local" name = "day" th:value="${day}" >
    </label>
    <input type="submit" value="Add Task">
</form>
<script th:inline="javascript">
    var message = /*[[${day}]]*/ "";
    console.log(message);
    console.log(typeof message);
    document.getElementById("starttime").value=message;
    //document.getElementById("day").value=message;
</script>
</body>
</html>